<div class="outer">
<p class="bigg">
WE HAVE
</p>
<p class="bigger">
FRIENDS
	</p>
	<a id=buts class="btn btn-large btn-success" href="/friends">Check them Out!</a>
	<a id=buts class="btn btn-large btn-success" href="/new">Get a new one!</a>



</div>