<form action='/create' method='post'>
	<input type='text' name='name' placeholder= 'Name' autofocus />
	<input type='text' name='age' placeholder= 'Age' autofocus />
	<input type='text' name='gender' placeholder= 'Gender' autofocus />
	<input type='text' name='image' placeholder='Image URL' autofocus />
	<input type='text' name='twitter' placeholder='Twitter' autofocus />
	<input type='text' name='github' placeholder= 'Github' autofocus />
<button>New Friend</button>
</form>
<br>
<br>
